@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Error = ViewBag.Error;
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <h1>Thêm Bài Giảng @Model.Name</h1>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Thông Tin</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" action="\Lessons\AddLesson" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                <input type="hidden" value="@Model.ID" name="idSubject" id="idSubject"/>
                                <div class="form-group">
                                    <label for="nameLesson">Tên Bài (*)</label>
                                    <input type="text" class="form-control" name="nameLesson" id="nameLesson">
                                </div>
                                <div class="form-group">
                                    <label for="videoFile">Video (*)</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="videoFile" id="videoFile">
                                            <label class="custom-file-label" for="videoFile">Choose file</label>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="button" value="Load Video" id="load-video" />

                                    <div class="input-group">
                                        <video width="500px" id="video-container" controls></video>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="document">Tài liệu (Giáo Án)</label>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="fileDocumentPDF" id="fileDocumentPDF">
                                            <label class="custom-file-label" for="fileDocumentPDF">Choose file</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="document">Tài liệu (slide bài giảng)</label>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="fileDocumentPPT" id="fileDocumentPPT">
                                            <label class="custom-file-label" for="fileDocumentPPT">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="document">Tài liệu (Word Nội dung )</label>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="fileDocumentWord" id="fileDocumentWord">
                                            <label class="custom-file-label" for="fileDocumentWord">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <label for="document">Mô tả</label>
                                </div>
                                <div class="form-group">
                                    <textarea rows="4" class="form-control" cols="50" name="description" placeholder="Mô tả"></textarea>
                                </div>
                            </div>

                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <div class="col-md-3"></div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script>

    document.getElementById('load-video').addEventListener('click', function () {

        var fileInput = document.getElementById('videoFile');
        var video = document.getElementById('video-container');

        var fileUrl = window.URL.createObjectURL(fileInput.files[0]);
        video.src = fileUrl;

    });
</script>