
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr.group,
tr.group:hover {
    background-color: #ddd !important;
}
</style>
<div class="content-wrapper" style="min-height: 1200.88px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6" style="text-align:end;">
                    <h1>XEM BÁO CÁO</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        @*<li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">DataTables</li>*@
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Tên Giáo Viên</th>
                                    <th>Môn học</th>
                                    <th>Số bài giảng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in (dynamic)Model)
                                {
                                    <tr>
                                        <td>@item.TeacherName</td>
                                        <td>@item.SubjectName</td>
                                        <td>@item.Quantity</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Tên Giáo Viên</th>
                                    <th>Môn học</th>
                                    <th>Số bài giảng</th>
                                </tr>
                            </tfoot>
                        </table>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

