.main-sidebar {
    background: white;
}

a {
    color: black !important;
}

.jstree-anchor {
    /*enable wrapping*/
    white-space: normal !important;
    /*ensure lower nodes move down*/
    height: auto !important;
    /*offset icon width*/
    padding-right: 24px;
}
