@using ElearningSubject.Models
@{
    Subjects subject = new Subjects();
    List<Subjects> data = subject.GetQuantityLessonBySubject(Session["IDLogin"] + "");
}

<!-- ./col -->
@foreach (var item in data)
{
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@item.SoLuong bài giảng</h3>

                <p>
                    @item.Name
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="@Url.Action("GetSubjectDetailDataList","Lessons", new { id = item.ID})" class="small-box-footer">Xem <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
}
<!-- ./col -->