
@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Error = ViewBag.Error;
}

<div class="card">
    <div class="card-body register-card-body">
        <p class="login-box-msg">Đăng ký tài khoản mới</p>

        <form action="" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Tên đầy đủ" id="Fullname" name="Fullname">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email" name="Email" id="Email">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Mật khẩu" id="Password" name="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <select style="border-right:1px solid #ced4da !important;" class="form-control" name="IDDepartment" id="IDDepartment">
                    @foreach (var item in ViewBag.ListDepartment)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                     
                </select>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Đăng Ký</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a href="/Accounts/Login" class="text-center">Bạn đã có tài khoản ?</a>
    </div>
    <!-- /.form-box -->
</div><!-- /.card -->
